{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Albums</h1>
    <dev class="container">
        {% for album in page.object_list %}
            <div id="album-{{ forloop.counter }}" class="album">
                <img src="{{ album.cover.url }}" alt="{{ album.title }}">
                <h2>{{ album.title }}</h2>
                <p>{{ album.description | truncatechars:100 }}</p>
                <i> by : {{ album.author }}</i>
            </div>
        {% empty %}
            <p>No albums found.</p>
        {% endfor %}
    </dev>
    <div class="pagination">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;&lt;</a>
        {% endif %}
        Page {{ page.number }} of {{ page.paginator.num_pages }}
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">&gt;&gt;</a>
        {% endif %}
    </div>
</body>
</html>